
1\.3\.Modelacion_fisica_Matematica/HWork04_Linear_transformations/HWork04_Linear_transformations\.nb

1\.3\.Modelacion_fisica_Matematica/HWork04_Linear_transformations/HWork04_linearTransformations\.aux
