
2.2.ThermodynamicsOfMaterials/classActivity02/~$classActivity02.pptx

3.3.Bioinformatica/0_Introduccion_a_Biologia/~$ejercicio_intro_20200214.pptx

3.3.Bioinformatica/2_MultiSeqAlignment/~$datacollection.xlsx

3.2.CaracterizacionDeMateriales/3_RamanSpectroscopy/~$Raman.pptx

0.References/IOPMOAECOVN.pdf

3.1.Materiales_nanoestructurados/9_SurfacePlasmonResonance/A March 4th 2019  Surface Plasmon Resonance General Introduction.ppt
